<div class="page-header">
  <div class="container">
    <h1> {{header}} </h1>
</div>
</div>
<div class="container">
  <div class="row top-row">
    <div class="col-xs-12 row end-xs">
      <a routerLink="/student" color="primary" mat-raised-button>
        <mat-icon>chevron_left</mat-icon>
        Go Back
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <!-- Student Details -->
      <form #studentDetailForm="ngForm">
      <div class="row">
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input type="text" matInput name="firstName" [(ngModel)]="student.firstName" >
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input type="text" matInput name="lastName" [(ngModel)]="student.lastName" >
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Date of Birth</mat-label>
              <input matInput [matDatepicker]="picker" name="dateofbirth" [(ngModel)]="student.dateOfBirth">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" matInput name="email" [(ngModel)]="student.email">
            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Mobile</mat-label>
              <input type="text" name="mobile" [(ngModel)]="student.mobile" matInput>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
                <mat-label>Gender</mat-label>
                <mat-select [(ngModel)]="student.genderId" name="gender">
                    <mat-option *ngFor="let gender of genderList" [value]="gender.id">
                        {{ gender.description }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">

          <div class="col-xs-12">
            <mat-form-field appearance="outline">
            <mat-label>Postal Address</mat-label>
            <textarea matInput name="postalAddress" [(ngModel)]="student.address.postalAddress"></textarea>
          </mat-form-field>
          </div>

        </div>
        <div class="row">

              <div class="col-xs-12">
                <mat-form-field appearance="outline">
                <mat-label>Physical Address</mat-label>
                <textarea matInput name="physicalAddress" [(ngModel)]="student.address.physicalAddress"></textarea>
              </mat-form-field>
              </div>

        </div>
        <div class="row">
          <div class="col-xs-12" *ngIf="!isNewStudent">
            <button mat-raised-button color="primary"(click)="onUpdate()" >Update</button>
          </div>
          <div class="col-xs-12" *ngIf="isNewStudent">
            <button mat-raised-button color="primary"(click)="onAddNew()" >Add</button>
          </div>
        </div>
      </form>

    </div>
    <div class="col-xs-6">
      <!-- profile-Image -->
    </div>
  </div>
</div>
